{{ define "main" }}

{{ partial "hero-area.html" . }}

{{- partial "header.html" . -}}

{{ partial "gallery.html" . }}

{{ partial "about.html" . }}

{{ partial "blog.html" . }}

{{ partial "food-menu.html" . }}

{{ partial "food-menu2.html" . }}

{{ partial "food-menu3.html" . }}

{{ partial "food-menu4.html" . }}

{{ partial "food-menu5.html" . }}

{{ partial "food-menu6.html" . }} 

{{ partial "food-menu7.html" . }}

{{ partial "food-menu8.html" . }}

{{ partial "subscription.html" . }}

{{ partial "contact.html" . }}

{{ end }}
